.DS_Store
Thumbs.db

*.log

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

venv/
env/
.venv/
.env/

__pycache__/
*.pyc
*.pyo
*.pyd

.tox/
coverage/
coverage.xml
*.cover
*.py,cover
.cache/
nosetests.xml
*.log
*.pot

pip-log.txt
pip-delete-this-directory.txt

build/
dist/
*.egg-info/
.eggs/

.env
.env.*

*.pem
*.key
*.crt

.ipynb_checkpoints

.idea/

.bin
bin/
build/
*.dll
*.exe
*.out
